@import "./variables.scss";

body {
  @extend %body-bkg-night;
}
button,
input {
  outline: none;
}

//menu

@mixin button {
  width: 9rem;
  height: 3rem;
}

.button-menu1 {
  @extend %menu-button-night;
  @extend %black-text;
  width: 134px;
  margin-right: 1rem;
  cursor: pointer;
}

.dropdown-container {
  margin-top: -18px;
  position: absolute;
}
.button-menu2 {
  @extend %menu-button-night;
  @extend %black-text;
  width: 134px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
.button-menu3 {
  @extend %menu-button-night;
  @extend %black-text;
  width: 36px;
  margin-left: 133px;
  position: absolute;
  cursor: pointer;
}
.navbar {
  ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-family: $font;
        font-size: 16px;
        color: $night;
        letter-spacing: 0;
        line-height: 18px;
        margin-left: 16.5px;
        span {
          border-bottom: 1px solid $night;
        }
        &:active{
          color: $grey ;
          }
      }
    }
  }
}
.switch {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.dropdown {
  @extend %grey-box-night;
  margin-top: 18px;
  height: 102px;
  width: 170px;
  @include flex;
  align-content: center;
  position: absolute;
  z-index: 2;
  display: none;
  ul {
    flex-direction: column;
  }
}

//contenido gral

.top-bar {
  @extend %top-bar-night-body;
  margin: 0px;
  @extend %white-text;
  p {
    font-weight: 12px;
  }
}

//headers
.container-header-home {
  @extend %container-header;
  width: 1194px;
}

//grey boxes
.search-cntr {
  @extend %grey-box-night;
  height: 99px;
}

.gif {
  @extend %gif-box;
  @extend %gif-cntr-night;
}

.search-top-bar {
  @extend %top-bar-night;
  @extend %top-box-bar;
  position: absolute;
}
.btn-search {
  @extend %grey-in-night;
  &:hover {
    background-color: $light-grey;
  }
  border: 1px solid $night;
  height: 36px;
  width: 1057px;
  @extend %black-text;
  p {
    text-align: left;
    margin-left: 16px;
    line-height: 22px;
  }
}

//Sugerido bar
.tonight {
  @extend %slim-box-text-night;
  margin-top: 64px;
  height: 32px;
  margin-bottom: 5px;
  p {
    @extend %black-text;
    margin-left: 7px;
    margin-top: 7px;
  }
}

.trend {
  @extend %slim-box-text-night;
  margin-top: 101px;
  height: 32px;
  margin-bottom: 5px;
  p {
    @extend %black-text;
    margin-left: 7px;
    margin-top: 7px;
  }
}

.gif-bar {
  @extend %top-bar-night;
  @extend %top-box-bar;
  @extend %white-text;
  font-weight: bold;
  width: 280px;
  @include flex;
}

.loupe {
  @extend %gif-cntr-night;
  width: 102px;
  height: 36px;
  margin-left: 8px;
  font-family: $font;
  font-size: 16px;
  color: $grey;
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    margin-left: 3px;
  }
}
.loupe-keypress {
  @extend %menu-button-night;
  color: $night;
  width: 102px;
  height: 36px;
  margin-left: 8px;
  font-family: $font;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    margin-left: 3px;
  }
  &:active {
    @extend %menu-button-night;
    color: $night;
    img {
      background: url(../assets/lupa.svg);
    }
  }
}

.btn-switch {
  @extend %switch-button-night;
  @extend %black-text;
  width: 150px;
  height: 36px;
  margin-top: 10px;
  margin-left: 10px;
}

.blue-btn-cntr {
  display: inline-flex;
  margin-top: 12px;
  display: none;
}
.blue-button {
  @extend %blue-button;
  @extend %white-text;
  height: 34px;
  padding-left: 7px;
  padding-right: 12px;
}

// crear gifos

.container-header-mygif {
  margin-top: 35px;
  display: inline-block;
  justify-content: start;
  align-items: center;
}
.arrow {
  @include arrow;
  margin-left: -38px;
  margin-top: 10px;
  position: absolute;
}

.grey-box-big {
  @extend %gif-cntr-night;
  @extend %create-gifos-cntr;
}
.create-bar {
  @extend %top-bar-night;
  @extend %top-box-bar;
  @extend %white-text;
  width: 678px;
  @include flex;
}

.button-cancel {
  @extend %menu-button-night;
  @extend %black-text;
  background: #fff4fd;
  width: 144px;
  margin-right: 1rem;
  cursor: pointer;
  margin-right: 16px;
}
.upload-cntr {
  @extend %gif-cntr-night;
  width: 860px;
  height: 548px;
  margin-left: 185px;
  margin-top: 88px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.upload-bar {
  @extend %top-bar-night;
  @extend %top-box-bar;
  @extend %white-text;
  font-weight: bold;
  @include flex;
  width: 854px;
  height: 24px;
  margin-top: 2px;
  position: absolute;
}

.video {
  background: $white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 832px;
  height: 434px;
  @extend %grey-box-night;
  margin-top: 35px;
  margin-left: 7px;
  position: absolute;
}

.button-camera {
  @extend %menu-button-night;
  @extend %black-text;
  width: 36px;
  cursor: pointer;
  img {
    margin-top: 4px;
  }
}

.rcd-btn-cam{
  @extend %menu-button-night;
  @extend %white-text;
  background: #ff6161;
  color: $white;
  img {
    margin-top: 4px;
  }
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-left: 0;
}

.rcd-btn {
  @extend %menu-button-night;
  @extend %white-text;
  background: #ff6161;
  color: $white;
  width: 132px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin-left: 0px;
}

.btn-fwr{
  @extend %menu-button-night;
  height: 20px;
  width: 20px;
}
.ready-cntr{
    @extend %gif-cntr-night;
    width: 721px;
    height: 391px;
    margin-left: 269px;
    margin-top: 85px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    display: none;
}

.ready-bar {
  @extend %top-bar-night;
  @extend %top-box-bar;
  @extend %white-text;
  font-weight: bold;
  @include flex;
  width: 715px;
  height: 24px;
  margin-top: 2px;
  position: absolute;
}

