@import "./colors.scss";

$font: "Chakra Petch", sans-serif;

//mixin

@mixin arrow {
  width: 24px;
}
@mixin width {
  width: 1200px;
  margin-left: 100px;
}
@mixin flex {
  display: flex;
  justify-content: space-between;
}
//extend

%white-bar {
  background-color: $white;
  p {
    margin: 7px;
    font-family: $font;
    font-size: 14px;
    color: $night;
    letter-spacing: 0;
  }
}

%create-gifos-cntr {
  height: 386px;
  width: 684px;
  margin-top: 75px;
}

%black-text {
  font-family: $font;
  font-size: 14px;
  color: $night;
  letter-spacing: 0;
  line-height: 18px;
}

%white-text {
  font-family: $font;
  font-size: 14px;
  color: $white;
  letter-spacing: 0;
  font-family: $font;
  margin-top: 3px;
  margin-left: 7px;
}

%container-header {
  @include flex;
  margin-top: 35px;
  margin-left: 91px;
}
%gif-box {
  margin-top: 1rem;
  width: 288px;
  height: 313px;
}

.search-area {
  display: inline-flex;
  align-items: center;
  margin-top: 39px;
}

%top-box-bar {
  width: 1194px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  p {
    @extend %white-text;
    font-weight: bold;
  }
}

%top-box-bar {
  width: 1194px;
  height: 24px;
  margin-top: 3px;
  margin-left: 3px;
  z-index: 1;
  p {
    @extend %white-text;
    font-weight: bold;
  }
}

//general
* {
  margin: 0;
  padding: 0;
}
.main-container {
  @include width;
  margin-top: 19px;
  position: absolute;
}

.container {
  width: 100vw;
  height: 100vh;
}
//Gif Gallery

.gif-cntr {
  @include flex;
  flex-wrap: wrap;
}

.gif-cntr-trend {
  .gif-down-bar {
    @extend %top-bar-day;
    font-weight: bold;
    width: 286px;
    height: 24px;
    position: absolute;
    margin-top: -28px;
    margin-left: 0px;
    overflow: hidden;
    display: none;
    p {
      @extend %white-text;
    }
  }
  img:hover + .gif-down-bar {
    display: block;
  }
}

.gif-small {
  height: 296px;
  width: 286px;
  margin-top: 15px;
}

.single-gif {
  height: 280px;
  width: 280px;
}
.today-gif-cntr {
  height: 280px;
  width: 280px;
  margin-top: 29px;
  margin-left: 4px;
  position: absolute;
}
.gif-today {
  @include flex;
  height: 284px;
  width: 100%;
}

.container-header-mygif {
  @extend %container-header;
}

.create {
  @include flex;
  align-items: center;
  margin-left: 287px;
}

.close-button {
  width: 18px;
  height: 16px;
  margin: 3px 6px;
  background-image: url(../assets/close.svg);
}

.serch-button {
  z-index: 2;
  width: 1200px;
  height: 160px;
  @extend %grey-box-day;
  font-family: $font;
  position: absolute;
  @include flex;
  flex-direction: column;
  display: none;
}

.search-box {
  @extend %search-input;
  width: 1047px;
  height: 48px;
  margin-left: 12px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  padding-left: 1rem;
  font-family: $font;
}

.button-cntr {
  height: 160px;
  ul{
    margin-left: 17px;
    margin-botton: 16px;
    align-content: center;
    height: 160px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    li{
      display: flex;
      justify-content: space-between;
      text-align: left;
      list-style: none;
      p {
        @extend %black-text;
        text-align: left;
        font-size: 16px;
        margin-left: 16px;
        line-height: 22px;
        margin-top: 6px;
      }
    }
  }
}

.more {
  @extend %white-text;
  width: 81px;
  height: 34px;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  margin-left: 18px;
  margin-top: 231px;
  text-align: center;
  line-height: 18px;
  position: relative;
  &:hover {
    background: #3a72db;
  }
}
.no-show {
  display: none;
}
.show {
  display: block;
}
//crar gifos

.window {
  display: inline-flex;
  margin-top: 30px;
  margin-left: 25px;
  h4 {
    margin-left: 16px;
    font-family: $font;
    font-weight: bold;
    color: $night;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }
}

.window-content {
  .guifos {
    @extend %black-text;
    line-height: 20px;
    span {
      font-style: italic;
    }
  }
  margin-top: 7px;
  margin-left: 73px;
  p {
    font-family: $font;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 2.5;
  }
  span {
    font-weight: bold;
  }
}

.create-btn-cntr {
  margin-left: 334px;
  margin-top: 28px;
  position: absolute;
}
.capture-btn-cntr {
  display: block;
  margin-top: 496px;
  margin-left: 670px;
  position: absolute;
}
.preview-btn-cntr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  display: none;
  margin-top: 496px;
  margin-left: 11px;
  position: absolute;
}
.rec-btn-cntr {
  display: inline-block;
  justify-content: space-between;
  margin-top: 493px;
  margin-left: 11px;
  position: absolute;
}

.rec-btns{
  margin-left: 663px;
}
.timmer {
  background: $white;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  width: 124px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-right: 0px;
  position: absolute;
  p {  
    text-align: center;
    font-family: $font;
    font-size: 16px;
    color: $night;
    letter-spacing: 0;
    line-height: 22px;
  }
}

#capture {
  font-size: 16px;
  line-height: 18px;
}
#record {
  font-size: 16px;
  line-height: 18px;
}
.gif-preview {
  width: 832px;
  height: 434px;
}
.loading-cntr {
  display: flex;
  flex-direction: column;
  margin-top: 174px;
  margin-left: 310.5px;
  position: absolute;
  align-items: center;
  align-content: center;
  visibility: hidden;
}
.glob-text {
  img {
    width: 48px;
    height: 48px;
  }
  p {
    @extend %black-text;
  }
}

.text-loading {
  font-family: $font;
  font-size: 12px;
  color: $night;
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
  span {
    text-decoration: line-through;
  }
}

#cancel {
  margin-left: 543px;
  margin-top: 12px;
}

.video-done {
  height: 191px;
  width: 365px;
  background: $white;
  border: 1px solid $grey;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  img {
    height: 191px;
    width: 365px;
  }
}

.btns-done {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  p {
    @extend %black-text;
    margin-bottom: 16px;
    font-weight: bold;
  }
  button {
    width: 256px;
  }
}
#copy {
  margin-bottom: 14px;
}

#video {
  width: 832;
  height: 434;
}

.upload-sections {
  display: flex;
  margin-top: 54px;
  margin-left: 24px;
  position: absolute;
  align-items: center;
}

.done-btn-cntr {
  margin-top: 311px;
  margin-left: 511px;
  position: absolute;
}
#done {
  width: 144px;
}
#gif-creation-cntr {
  display: none;
}

.loading{
  background: #B4B4B4;
  box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  width : 240px;
  height: 24px;
  margin-left: 26px;
  position: absolute;
}

.bar-cntr{
  margin-left: 159px;
  margin-top: 8px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.capture-cntr{
  margin-left: 542px;
}